 
<br>
<ul class="nav nav-pills">
  <li class="nav-item">
  </li>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Canchas
    </button>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a class="dropdown-item active" href="#">Fut 5</a></li>
      <li><a class="dropdown-item" href="#">Fut 7</a></li>
      <li><a class="dropdown-item" href="#">Fut 9</a></li>
      <li><a class="dropdown-item" href="#">Fut 11</a></li>
    </ul>
  </div>
  <li class="nav-item">
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Direccion</a>
  </li>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>
</ul>
