<footer style="position: absolute; bottom: 0px; width: 100%; background-color: aqua;" class="footer">
    <div>
        <a href="#">Instagram</a><br>
        <a href="#">Twitter</a><br>
        <a href="#">Facebook</a><br>
        <small>Copyright ©&nbsp;2022 Jesters.</small>
    </div>
</footer>