<head>
    <link rel="stylesheet" href="css/style.css">
</head>lic/
<body>
    <footer class="footer">
        <div>
            <a href="#">Instagram</a><br>
            <a href="#">Twitter</a><br>
            <a href="#">Facebook</a><br>
            <small>Copyright ©&nbsp;2022 Jesters.</small>
        </div>
    </footer>
</body>